@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.login-wrap
		float: right
		padding-right: 20px
		.log-popup
			right: -8px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.hero-centered
		margin-top: 20.5%
		.h1
			font-size: 60px
		.hero__text
			font-size: 15px

	.city
		padding: 10px 0 10px

	.city-img
		background-position: 50% 50%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.hero-centered
		margin-top: 30.5%
		.h1
			font-size: 40px
		.hero__text
			font-size: 14px

		.btn__top
			padding: 20px 26px

	.h2
		font-size: 48px

	.text
		font-size: 14px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

